{% extends "base.html.twig" %}

{% block content %}
{% if flash.error %}
	<div>
    	<p class="flash alert alert-danger">{{ flash.error }}</p>
	</div>
{% endif %}
{% if flash.success %}
	<div>
    	<p class="flash alert alert-success">{{ flash.success }}</p>
	</div>
{% endif %}
<div class="dashboardContent">
	<div class="MenuContent">
		<div class="todo">
		<h2>Tache</h2>
		<div class="filtre">
			<p>Filtres</p>
			<form id="filter" method="post" action="{{ url_for('dashboard') }}">
				<select class="form-select" name ="email">
					<option value="null" selected hidden >Choose User</option>
					<option value="null" >Any User</option>
					{% for u in users %}
						<option value={{ u.email}}>{{ u.email}}</option>
					{% endfor %}
				</select>
				<input type="text" name="keyword" placeholder="Mot clé" class="form-control"/>
				<input type="submit" name="recherche" value="Rechercher" class="btn btn-primary"/>
			</form>
		</div>
		<div class="liste">
			{% for todo in todos %}
				<a class="todoLink" id="todoLink{{todo.id}}" href="{{ url_for('todo',{'todo':todo.id }) }}">		
						{{todo.title}}		
				</a>
			{% endfor %}
		</div>
		{% if todo is empty %}
			<p id="notask">Aucune tache actuellement.</p>
		{% endif %}
		</div>
		<div class="bottom">
		<a href="#popup" id="newTodo" class="btn btn-primary" >
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
				<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
				<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
			</svg>
			Tache
		</a>
			<a href="{{ url_for('logout') }}" class="btn btn-outline-danger">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
					<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
				</svg>
				{{ user.email }}
			</a>
		</div>
	</div>

	<div class="MainContent">
		{% if todo != null %}
		<div class="TodoContent">
			<div class="todoTitle">
			<h2>{{ todo.title }}</h2>
			<form id="deleteTodo" action="{{ url_for('deleteTodo', {'todo':todo.id}) }}" method="post">
				<input type="image" name="deleteTodo" width="21" height="23" src="https://cdn-icons-png.flaticon.com/512/561/561125.png">
			</form>
			</div>
			{% if todo.assigned_to_email != null %}
				<p class="assigned">A faire par {{todo.assigned_to_email}}
				{% if todo.due_date != null %}
					avant le {{todo.due_date}}
				{% endif %}
				</p>
			{% else %}
				{% if todo.due_date != null %}
					<p class="assigned">A faire avant le {{todo.due_date}}</p>
				{% endif %}
			{% endif %}
			<textarea name="description" rows="5" readonly>{{ todo.description }}</textarea>
			<p class="creator">Créé par {{ todo.created_by_email }} le {{ todo.created_at }}</p>
		</div>

		<div class="CommentContent">
			<h3>Commentaires</h3>
			<form class="AddComment" method="post" action="{{ url_for('addComment') }}">
				<textarea name="comment" rows="3" placeholder=" Commente ..."></textarea>
				<input id="taskId" type="hidden" name="taskId" value="{{todo.id}}">
				<input type="image" class="sendTodo" src="https://cdn-icons-png.flaticon.com/512/876/876828.png">
			</form>
			<div class="displayComments" style="overflow-y: scroll; max-height:100px;">
				<ul>
				{% for comment in comments | reverse %}
					<li> [ {{comment.created_at}} ] {{comment.comment}}</li>
				{% endfor %}
				</ul>
			</div>
			{% endif %}
		</div>
	</div>
</div>


<div id="popup" class="newTodoContent">
	<div class="popupContent">
		<a href="#" class="close">&times;</a>
		<h2>Ajouter une tâche</h2>
		<form class="formulaire" method="post" action="{{ url_for('newTodo') }}">
			<label>Titre&nbsp;:</label>
			<input type="text" name="title" maxlength="250" required/>
			
			<label id="childForm">Description&nbsp;:</label>
			<textarea name="description" rows="5" cols="50" required></textarea>

			<label id="childForm">Assigner à&nbsp;:</label>
			<select class="form-select" name="AssignedTo">
			<option value="null" selected>Choose User</option>
			{% for u in users %}
				<option value={{ u.email}}>{{ u.email}}</option>
			{% endfor %}
			</select>

			<label id="childForm">Date limite&nbsp;:</label>
			<input type="date" name="dueDate" min="2023-01-23">
			
			<input id="childForm" class="btn btn-primary" type="submit" name="ajouter" value="Ajouter une tâche"/>
		</form>
	</div>
</div>
{% endblock %}

{% block javascript %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="js/index.js"></script>
{% endblock %}
