{% extends "base.html.twig" %}

{% block content %}
<div class="signupContent">
<h2>Inscrivez-vous pour accéder à la todo list !</h2>
{% if flash.error %}
    <p class="flash alert alert-danger">{{ flash.error }}</p>
{% endif %}
<form method="post" action="{{ url_for('signup') }}">
    <p>
        <label for="email" class="form-label">Votre email&nbsp;:</label>
        <input autofocus type="email" name="email" placeholder="Email" maxlength="250" class="form-control"/>
    </p>
    <p>
        <label for="password" class="form-label">Votre mot de passe&nbsp;:</label>
        <input type="password" name="password" placeholder="Mot de passe" maxlength="250" class="form-control"/>
    </p>
    <p>
        <label for="password" class="form-label">Confirmez votre mot de passe&nbsp;:</label>
        <input type="password" name="Confirmpassword" placeholder="Mot de passe" maxlength="250" class="form-control"/>
    </p>
    <p>
        <input type="submit" name="connexion" value="S'inscrire" class="btn btn-primary"/>
    </p>
</form>
<p>Vous disposez d'un compte ? <a href = "{{ url_for('login') }}" class="btn btn-link">Connectez-vous</a></p>
</div>
{% endblock %}