.dashboardContent{
    display:flex;
    flex-wrap:nowrap;
    justify-content: center;
    .MenuContent{
        background-color: var(--color-1);
        padding: 2%;
        margin: 1%;
        border-radius: $borderRadius;
        box-shadow: $shadow;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        a{
            width: 100%;
            margin-top: 1%;
        }

        .liste {
            display: flex;
            flex-direction: column;
            a{
                color: var(--black);
                text-decoration: none;
                border-radius: 7px;
                padding: 0% 3.5%;  
                transform: scale(0.94);   
                position: static;      
            }
            a:hover{
                background-color: #c1c1c1;
                padding: 0% 6%;
                transform: scale(1);
            }
            overflow:scroll;
            max-height: 460px;
            margin: 5% 0%;
        }

        .filtre{
            margin-top: 5%;
            p{
                margin-bottom: 2%;
            }
            form{
                display: flex;
                flex-direction: column;
                input{
                    margin-top: 2%;
                }
            }
        }
        #notask{
            text-align: center;
        }
    }
    .MainContent{
        display: flex;
        flex-direction: column;
        margin: 1%;
        .TodoContent{
            background-color: var(--color-1);
            box-shadow: $shadow;
            border-radius: $borderRadius;
            display: flex;
            flex-direction: column;  
            padding: 1em;
            margin-bottom: 5%;
            .todoTitle{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        .CommentContent{
            background-color: var(--color-1);
            box-shadow: $shadow;
            border-radius: $borderRadius;
            display: flex;
            flex-direction: column;  
            padding: 1.6em 1.2em;
            .AddComment{
                display: flex;
                align-items: center;
                textarea{
                    width: 92%;
                }
                .sendTodo{
                    display: flex;
                    align-items: center;
                    width: 8%;
                    padding: 5% 1.5%;
                }
            }
            .displayComments{
                overflow:scroll;
                max-height: 200px;
            }
        }
    }
}


.newTodoContent {
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popupContent{
    border-radius: $borderRadius;
    padding: 2.5% 1.5%;
    box-shadow: $shadow; 
    transform: scale(0);
    background-color: var(--color-2);
    height: auto;
    width: 50%;
    transition: transform .7s;
    .formulaire{
        display: flex;
        flex-direction: column;
        #childForm{
            margin-top: 0.5em;
        }
    }
}

.newTodoContent a.close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background: none;
    padding: 0;
    margin: 0;
    text-decoration:none;
}

.popupContent a.close:hover{
    color:var(--black);
  }

.newTodoContent:target {
    visibility: visible;
    opacity: 1;
    .popupContent{
        transform: scale(1);
    }
}

.addTodo{
    padding: 1%;
}

@media only screen and (max-width: 860px) {
    .dashboardContent{
        flex-wrap:wrap;

        .MenuContent{
            margin: 0% 0% 5% 0%;
            border-radius: 0px;
            width: 100%;
        }
    }
    .popupContent{
        width: 95%;
    }
}