.homeContent{
    border-radius: $borderRadius;
    padding: 2%;
    background-color: var(--color-1);
    box-shadow: $shadow;
    max-width: 70%;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;

    h2{
        text-align: center;
        font-size:2.7vw;
    }
    a{
        margin-top: .5em;
        font-size:1.5vw;
    }
    svg{
        width:1.3vw;
    }
}

@media screen and (max-width: 800px) {
    .homeContent{
        padding: 10% 3%;
        max-width: 100%;
        h2{
            font-size:4vw;
        }
        a{
            font-size:2.7vw;
        }
        svg{
            width:2.5vw;
        }
    }
}