.loginContent{
    border-radius: $borderRadius;
    padding: 2%;
    background-color: var(--color-1);
    box-shadow: $shadow;
    max-width: 70%;
    justify-content: center;
    align-items: center;
    margin: auto;
    h2{
        text-align: center;
        font-size:2.7vw;
    }
    a{
        font-size:1.3vw;
        font-style: none;
    }
    p{
        font-size:1.3vw;
    }
    input{
        font-size: 1.3vw;
    }
}

@media screen and (max-width: 800px) {
    .loginContent{
        border-radius: 0px;
        padding: 5%;
        min-height: 100vh;
        max-width: 100%;
        box-shadow: 0px 0px 0px var(--color-ombre);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        form{
            width: 100%;
        }
        h2{
            font-size:4.4vw;
        }
        a{
            font-size:4vw;            
        }
        p{
            font-size:4vw;
        }
        input{
            font-size: 4vw;
        }
    }
}
  
