:root {
  --color-1: #ecececcb;
  --color-2: #e6e6e6;
  --black:#333;
  --color-ombre:rgb(32, 30, 30);
}

$borderRadius: 25px;
$shadow: 1px 2px 6px var(--color-ombre);
$min-height: 92.5vh;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}


button{
  cursor: pointer;
}
