<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>ToDo</title>
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <div class="bodyContent">
    {% block content %}{% endblock %}
    </div>
</body>
  {% block javascript %}{% endblock %}
</html>